---
---

@import "{{ site.theme }}";

.nav {
  max-width: 640px;
  margin: auto;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #373737;
  color: white;
}

table.img_tab{
  border: none;
}
